*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(228, 196, 155, 0.445);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.375rem;
    text-align: center;
}

.clearfix{
    clear: both;
    font-family: cursive;
    text-align: center;
    font-size: 2.875rem;
    margin-top: 1.5625rem;
    margin-bottom: 3.125rem;
    color: #8B1E1E;
}



/*Header*/
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: brown;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
nav ul li a{
    text-decoration: none;
    color: var(--color-accent);
    background-color: rgb(235, 144, 40);
    padding: 1rem;
    border-radius: 1rem;
    font-family: cursive;
    
}

nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
    color: #8B1E1E;

}

/*botones*/
button {
    padding: 1rem;
    margin:0 1rem;
    border: none;
    border-radius: 6px;
    background-color: rgb(235, 144, 40);
    color: rgb(0, 0, 0);
    cursor: pointer;

}
button:active{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px black;
    color: #8B1E1E;
}

/*main*/
.welcome{
    background-color: brown;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-family: cursive;
    padding: 1rem;
}
.info h3{
    margin-bottom: .9375rem;
    border-radius: .9375rem;
}
.info h3{
    font-size: 1.5rem;
    border-radius: 1.875rem;
    padding: 1rem;
    background-color: #8B1E1E;
    color: rgba(223, 181, 126, 0.986);
    border: 4px solid rgba(233, 133, 20, 0.705);
}
.info p{
    background-color: rgba(170, 107, 30, 0.521);
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 30px;
    border: 3px solid rgba(0, 0, 0, 0.24);
}
.info h4{
    text-align: center;
    font-family: monospace;
    margin-bottom: 1.7px;
    color: rgb(255, 255, 255);
    background-color: rgba(177, 85, 10, 0.555);
    border: 5px solid rgba(0, 0, 0, 0.438);
    font-size: 1.25rem;
    margin-left: 3.625rem;
    margin-right: 3.625rem;
    margin-top: .9375rem;
    border-radius: .9375rem;
}
.info img{
    width: 100%;
    max-width: 17.5rem;
    display:block;
    margin: .9375rem auto;

}
.info ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1rem;
}

.info ul li a{
    text-decoration: none;
    color: var(--color-accent);
    background-color: rgba(134, 78, 15, 0.623);
    border: 5px solid rgba(255, 255, 255, 0.603);
    padding: 1rem;
    border-radius: 1rem;
}

.info ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: #8B1E1E;
    box-shadow: 1px 1px 4px black;
}


section h3{
    text-align: center;
    font-family: fantasy;
    color: brown;
    background-color: burlywood;
    border: 5px solid rgba(165, 42, 42, 0.438);
    font-size:2rem;
    margin-left:3.625rem;
    margin-right:3.625rem;
    margin-top:1rem;
    margin-bottom:1rem;
    
}
.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
    justify-items:center;
    padding:1rem;
    width:100%;
}

.cbiblioteca{
    display:grid;
    justify-items:center;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
    padding:1rem;
    width:100%;
}
.item{
    background-color: rgba(255, 187, 41, 0.295);
    height: auto; 
    gap: 3px;              
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 4px solid rgba(66, 30, 1, 0.829);
    margin-left:0.5rem;
    margin-right:0.5rem;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-self:center;
    width:100%;
    max-width:18rem;
}
.item:hover{
    transform: scale(1.05);
    background-color: rgba(255, 187, 41, 0.61);
    border: 4px solid rgb(155, 73, 6);
}
.item img{
    width:100%;
    max-width:11.25rem;
    height:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid rgba(0, 0, 0, 0.247);
    border-radius: 5px;
}
.item a{
    background-color: aliceblue;
    text-decoration:none;
    color: #8B1E1E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item a:hover{
    border: 3px solid rgba(66, 30, 1, 0.829);
    background-color: #8B1E1E;
    color: aliceblue
}




.item p{
    font-family: fantasy;
    font-size: 16px;
    background-color: aliceblue;
    border-radius: 10px ;
    text-align: center;
    margin-left:1rem;
    margin-right:1rem;
    padding:.5rem;
    border: 4px solid rgba(255, 136, 0, 0.644);
    margin-bottom: 5px;
    margin:1rem;
    
}
.item h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.25rem;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border: 0px;

}
.text{
    font-family: monospace;
    font-size:1.25rem;
    font-weight: 10px;
    margin-top: 5px;
    margin-bottom: 3rem;
    background-color: brown;
}
.itemb{
    background-color: rgba(165, 42, 42, 0.438);
    display: block;
    justify-self:center;
    width:100%;
    max-width:16rem; 
    gap: 2px;              
    flex-wrap: wrap;
    border-radius: 10px;
    text-align: center;
    border: 4px solid rgba(165, 42, 42, 0.438);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 5px;
    margin-bottom: 10px;
    

}
.itemb img{
    width:10rem;
    height:auto;
    margin-top: 15px;
    border: 3px solid rgba(165, 42, 42, 0.438);

}
.itemd video{
    width:100%;
    max-width:20rem;
    height:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;

}
.itemd{
    background-color: rgba(255, 187, 41, 0.295);
    height: auto;
    justify-content: center; 
    gap: 5px;              
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 4px solid rgba(66, 30, 1, 0.829);
    margin-left:.5rem;
    margin-right:.5rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.itemd img{
    width: 45%;
    max-width: 8.5rem;
    margin-top: 3px;
    margin-bottom: 3px;
    height: auto;
    background-color: #8B1E1E;

}
.itemb h3{
    font-size: 20px;
    margin-left:1rem;
    margin-right:1rem;
    padding:.5rem;
}
.itemb p{
    font-family: fantasy;
    font-size: 16px;
    background-color: aliceblue;
    border-radius: 10px ;
    text-align: center;
    margin-left:1rem;
    margin-right:1rem;
    padding:.5rem;
    border: 4px solid rgba(255, 136, 0, 0.644);
    margin-bottom: 5px;   
    margin:1rem;
}

.itemb:hover{
    transform: scale(1.05);
    background-color: #ff000048;
}
.itemb a{
    background-color: #e4dada;
    text-decoration: none;
    color: brown;
    font-family: monospace;
    border-radius: 5px;
    
}
.nosotros{
    font-size: 1.8rem;
    margin: 3rem 3.625rem;
}

.nosotros h3{
    color: rgba(255,255,255,.85);
    text-shadow: 2px 2px 4px black;
    border: 5px solid white;
    font-size: 3rem;
    background-color: #8B1E1E;
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.nosotros p{
    background-color: #8b1e1e7a;
    border: 4px solid rgba(0, 0, 0, 0.568);
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}

.nosotros ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding: 0;
}

.nosotros ul li{
    text-align: center;
}

.nosotros img{
    width: 100%;
    max-width: 18rem;
    height: auto;
    border: 5px solid #8B1E1E;
    border-radius: 10px;
    display: block;
    margin: 0 auto 1rem auto;
}

.nosotros img:hover{
    transform: scale(1.05);
    transition: .3s;
}

.nosotros ul li p{
    color: black;
    background-color: rgba(134, 78, 15, 0.623);
    border: 5px solid rgba(255, 255, 255, 0.603);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.formulario{
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
    padding: 0 1rem;
}

.formulario-contacto{
    width: 43.75rem;
    max-width: 100%;
    background: #cda88f;
    padding: 1.875rem;
    border-radius: .9375rem;

    display: flex;
    flex-wrap: wrap;
    gap: .9375rem;
}

.formulario-contacto label{
    width: 100%;
    font-weight: bold;
}

.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"]{
    flex:1;
    min-width:12rem;
    padding:.625rem;
    border-radius:.5rem;
    border:none;
}

.formulario-contacto textarea{
    width:100%;
    min-height:9.375rem;
    resize:none;
    padding:.625rem;
    border-radius:.5rem;
}


.formulario-contacto input[type="submit"]{
    width:9.375rem;
    margin:auto;
    padding:.625rem;
    background: #8B1E1E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.formulario-contacto input[type="submit"]:hover{
    border: 3px solid rgba(66, 37, 13, 0.479);
    background-color: #ffffff;
    color: rgb(99, 70, 9);
    font-size: 13px;
    font-family: monospace;
    
}
footer{
    background-color: #8B1E1E;
    color: white;
    padding: 40px 20px 20px;
}

.footer-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
    width:100%;
    max-width:62.5rem;
    margin: auto;
}

.footer-col h3{
    color: burlywood;
    margin-bottom: 15px;
    font-family: monospace;
}

.footer-col ul{
    list-style: none;
    padding: 0;
}

.footer-col li{
    margin-bottom: 10px;
}

.footer-col a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col a:hover{
    color: burlywood;
    padding-left: 5px;
}

.copyright{
    text-align: center;
    border-top: 1px solid burlywood;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 14px;
}
@media (max-width:767px){

    h1{
        font-size:2rem;
    }

    .clearfix{
        font-size:2rem;
    }

nav ul li{
    width:100%;
    display:flex;
    justify-content:center;
}
nav ul li a{
    display:block;
    width:90%;
    text-align:center;
    padding:1rem;
}

    .welcome{
        font-size:1rem;
    }

    section h3{
        font-size:1.5rem;
        margin-left:.5rem;
        margin-right:.5rem;
    }

    .container{
        grid-template-columns:2,1fr;
        gap:1rem;
        padding:1rem;
    }

    .cbiblioteca{
        grid-template-columns:2,1fr;
        gap:1rem;
        padding:1rem;
    }

    .item{
        margin:.5rem;
    }

    .item img{
            max-width:10rem;
    }
    .item h3{
        font-size:1.1rem;
    }

    .item p{
        font-size:1rem;
        margin:1rem; 
    }

    .itemb{
        margin:.5rem;
    }

    .itemb img{
        max-width:9rem;
    }

    .itemb p{
        margin:1rem;
    }

    .info img{
        max-width:15rem;
    }

    .info ul{ 
        display:grid;
        grid-template-columns:1fr; 
        gap:1rem;
    }
    .info ul li a{
        display:inline-block;
        min-width:12rem;
        padding:1rem 2rem;
        font-size:1.2rem;
        text-align:center;
    }
    .formulario-contacto{
        padding:1rem;
    }

    .footer-container{

        grid-template-columns:1fr;
        text-align:center;
    }
    .nosotros{
        font-size: 1rem;
        margin: 1rem;
    }

    .nosotros h3{
        font-size: 1.8rem;
        padding: .8rem;
    }

    .nosotros p{
        font-size: 1rem;
    }

    .nosotros ul{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .nosotros img{
        max-width: 15rem;
    }

    .nosotros ul li p{
        font-size: 1rem;
    }
}



@media (min-width:768px) and (max-width:1023px){

    nav ul{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:1rem;
    }

    .container{
        grid-template-columns:repeat(2,1fr);
        gap:1.5rem;
    }

    .cbiblioteca{
        grid-template-columns:repeat(2,1fr);
        gap:1.5rem;
    }

    .item img{
        max-width:10rem;
    }

    .item p,
    .itemb p{
        margin:1rem;
    }

    section h3{
        margin-left:1rem;
        margin-right:1rem;
    }

    .info h4{
        margin-left:1rem;
        margin-right:1rem;
    }

    .footer-container{
        grid-template-columns:repeat(2,1fr);
    }
    .nosotros{
        font-size: 1.3rem;
        margin: 2rem;
    }

    .nosotros h3{
        font-size: 2.4rem;
    }

    .nosotros ul{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    .nosotros img{
        max-width: 16rem;
    }

    .nosotros ul li p{
        font-size: 1.1rem;
    }

}
@media (min-width:1024px){

    .container{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:2rem;
    }

    .cbiblioteca{
        grid-template-columns:repeat(6,1fr);
    }

    .item{
        margin:1rem;
        padding:1rem;
        text-align:center;
    }

    .item img{
        width:100%;
        max-width:17.5rem;
        height:auto;
    }

    .item h3{
        font-size:1.6rem;
        margin:.8rem;
    }

    .item p{
        font-size:1rem;
        margin:1rem;
        padding:.5rem;
    }

    section h3{
        font-size:2.5rem;
    }
    .nosotros ul{
        grid-template-columns: repeat(3,1fr);
    }

    .nosotros img{
        max-width: 18rem;
    }

}

